{% extends 'base_template.html' %}

{% block content %}
    <div class="content-section-b">
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            {% for item in media %}
                {% if ".com" in item.caption.text or "buy" in item.caption.text or "sale" in item.caption.text%}
                    <div class="post">
                        <img src="{{ item.get_standard_resolution_url }}" class="img-responsive scale-img">
                        <p>
                            <span class="insta_handle">@{{ item.user.username }}</span> "{{ item.caption.text }}" </p>
                        <p><i class="fa fa-heart"> </i> {{ item.like_count }}</p>
                        <div width="40px">
                            {% for comment in item.comments %}
                                <p>{{ comment }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


{#{% extends 'base_template.html' %}#}
{##}
{#{% block content %}#}
{#    {% for item in media %}#}
{#        {% if ".com" in item.caption.text or "buy" in item.caption.text or "sale" in item.caption.text%}#}
{#            <div>#}
{#                <img src="{{ item.get_standard_resolution_url }}" class="img-responsive img-circle">#}
{#                <p><i class="fa fa-caption"></i> {{ item.caption }}</p>#}
{#                <p><i class="fa fa-thumbs-up"></i> {{ item.like_count }}</p>#}
{#                <div>#}
{#                    {% for comment in item.comments %}#}
{#                        <span class="label label-danger"><i class="fa fa-comment"></i>{{ comment }}</span>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#{% endblock %}#}