{% extends 'base_template.html' %}

{% block content %}
    <h1>Fantastic!</h1>
    <p>You made it this far, you are truly excellent!</p>
    <p>Now the question is, do you want to start selling through comments or do you want to start buying through comments?
    Oooor, (be still my heart) do you want to begin doing both?</p>
    <p>Either way lets run you through this quick! It is actually fairly simple.</p>
    <p>If you wish to sell throug comments with vendogram all you need to do is add the words @Vendogram and then a
    a '$' followed by a number, the price!</p>
    <p>Once you have done that, your followers will be able to purchase your items via instagram by simply commenting
    "Buy", then through internet magic we at Vendogram will send them an invoice.  Pretty cool right?</p>
{% endblock %}