{% extends 'base_template.html' %}

{% block content %}
    <div class="content-section-b armen">
        <div class="container">
           <center> <h1 class = "armen">Awesome!</h1>
                <p class="lead">You are one click away from shopping instagram and two away from selling on instagram!</p>
           </center>
            <br>
            <br>
            <div class="col-lg-5 col-sm-5">
                <h2>Are we Selling?</h2>
                <p>To start selling you will need to register with Stripe (big button bellow), this will only take a
                    couple of minutes.</p>
                <p>Then put a <span id="tag">#vendogram</span> in your picture caption, and let your followers know that once they sign
                up with us they can buy in one comment!</p>
                <div>
                    <a href = "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_4cZCSHq1jnONcClTutgapMuTwm0KSBRr&scope=read_write&state=1234">
                    <button class="btn btn-primary btn-lg">
                                  Start Selling
                    </button></a>
                </div>
            </div>

            <div class="col-lg-2 col-sm-2"></div>

            <div class="col-lg-5 col-sm-5">
                <h2>Or are we buying?</h2>
                <p>You are ready to start browsing Instagram and shopping!</p>
                <p>Any seller that works with Vendogram will now allow you to comment to buy</p>
                <p>Just include the word <b><i>'Bought'</i></b> in your comment and an invoice will be sent to your inbox!</p>
                <div>
                     <a href="{% url 'vendogram_mentions' %}">
                        <button class="btn btn-primary btn-lg">
                                      Start Shopping
                        </button></a>


                </div>


            </div>
        </div><br><br>
        <div class="how-bottom"><h3>Vendogram is in beta?! Let's Go!</h3></div>
    </div>


{#            <div>#}
{#                <a href = "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_4cZCSHq1jnONcClTutgapMuTwm0KSBRr&scope=read_write&state=1234">#}
{#                <button class="btn btn-primary btn-lg">#}
{#                              Start Selling#}
{#                </button></a>#}
{#                or#}
{#                <a href="{% url 'vendogram_mentions' %}">#}
{#                <button class="btn btn-primary btn-lg">#}
{#                              Start Shopping#}
{#                </button></a>#}
{#                <p>Remember, that all you need to do </p>#}
{#            </div>#}
{#         </div>#}
{##}
{#    </div>#}

{% endblock %}