{% extends 'base_template.html' %}

{% block content %}
    <div class="content-section-b">
        <div class="container">
            <div class="col-md-4"></div>
            <center>
            <h1>Your Sold Stuff</h1>
            {% for item in media %}

                    {% for comment in item.comments %}
                        <div class="post" class="sold-things">

                        {% if "Bought" in comment.text %}

                            <img src="{{ item.get_thumbnail_url }}">
                            <p>{{ comment.text }}</p>
                            <p>{{ comment }}</p>
                            <h1>{{ comment.from.fullname }}</h1>
                        {% endif %}
                        </div>
                    {% endfor %}

            {% endfor %}

            </center>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}